.App {
  text-align: center;
  
}

.logo {
  width: 2em;
}

.fu {
  max-width: 20rem;
  margin-bottom: -1rem;
}

.hero{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.herowrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


h1 {
  text-align: left;
  font-size: large;
  font-weight: 500;
  color: #272727;
}

.App-link {
  color: #61dafb;
}

input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


ul {
  padding-left: 0px;
  list-style-type: none;
}

.deletebutton {
  background-color: white;
  border: 2px solid #803BF1;
  color: #803BF1;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 22px;
}

.contentWrapper {
  display: flex;
  width: 66%;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 2.5rem;
  box-shadow: 0px 0px 4px #0000000F;
  margin-top: 5rem;
  display: table;
  margin-right: auto;
  margin-left: auto;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.content{
    padding: 2rem;
    margin-left: 2rem;
}

p{
  line-height: 1.8;
}

#token{
  font-family: monaco;
  display: inline-block;
}

#code{
  font-family: monaco;
  background-color: #4C4C4C;
  color: white;
  /* display: inline-block; */
  padding: 5pt;
  border-radius: 5px;
  margin-bottom: 2rem;
}

#text{
  margin-top: 3rem;
}
