.App {
  text-align: center;
  
}

.logo {
  width: 2em;
}

.fu {
  max-width: 28rem;
  margin-bottom: -1rem;
}

h1 {
  text-align: left;
  font-size: medium;
  font: normal normal 900;
  color: #000000;
}

.App-link {
  color: #61dafb;
}

input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


ul {
  padding-left: 0px;
  list-style-type: none;
}

.deletebutton {
  background-color: white;
  border: 2px solid #803BF1;
  color: #803BF1;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 22px;
}
